:root {
  --clr-background: #282c35;

  --clr-primary-400: #ffa7c4;
  --clr-primary-900: #dc658d;

  --clr-brown: #370f0e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-background);
  margin: 0;
  padding: 0;
}
